@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
	padding-top: 70px;
	background-image:url(../images/);
	background-repeat: no-repeat;
	display:flex;
	flex-direction: column;
	justify-content:center;
	font-family: 'Ubuntu', sans-serif;
	align-items:center;
}

#logo {
	height:100px;
	margin-top:-10px;
	position:fixed;
	top:5px;
	left:0px;
}

.navbar{
	display : flex;
	justify-content: center;
	flex-wrap: no-wrap;
}

.navbar-default .navbar-nav>li>a {
	color: #F9B200;
	font-weight: bold;
}

p {
	margin: 5%;
	font-size: 17px;
	color: black;
	color: green;
	margin: 5%;
	font-size: 22px;
}


.img-responsive{
	margin:0px auto;
	max-height:100%;
}


form {
	margin: 0 auto;
	width: 450px;
	color: blue;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}


.empty{
	height : 50px;
}


#logo{
	position: absolute;
	z-index:2;
	margin-left: 47%;
	margin-top: -50%;
}

.active {
	background-color: transparent !important;
}
.item {
	outline: 0 !important;
}

.content{
	padding-left: 15%;
	padding-right: 15%;
}

#titre-carte,
#titre-culture,
#titre-initiatives,
#titre-patrimoine{
	padding-top: 10%;
}
